:root{
    --greenTheme: green;
    --greyTheme: grey;
}

body{
    font-family: 'Open Sans', sarif ;
    background-color: rgb(241, 253, 246);
}

/* Logo */

.logo-cl{
    display: grid;
    grid-column-start: 1fr 1fr;
    grid-template-areas: "logo communityLarder";
    justify-content: space-between;
    padding: 5px 15px;
    background-color: white;
}

.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.logo img, .communityLarder img {
    max-width: 100px;
    max-height: 100px;
    padding: 10px 15px;
}

/* Community Larder */

.communityLarder{
    grid-area: communityLarder;
    border: 5px solid var(--greenTheme);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.communityLarder button{
    max-width: 100px;
    max-height: 100px;
    padding: 10px 15px;
    margin: 10px;
    background-color: var(--greenTheme);
    border: 1px solid var(--greenTheme);
    border-radius: 10px;
}

.communityLarder button:hover{
    max-width: 100px;
    max-height: 100px;
    padding: 10px 15px;
    margin: 10px;
    background-color: var(--greyTheme);
    border: 1px solid var(--greyTheme);
    border-radius: 10px;
}

.communityLarder a{
    color: white;
    text-decoration: none;
}

/* Nav Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--greenTheme);
    padding: 25px;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.navbar button{
    background-color: purple;
    font-weight: 800;
    border: 1px solid purple;
    border-radius: 5px;
}

.navbar button:hover{
    background-color: royalblue;
    font-weight: 800;
    border: 1px solid royalblue;
    border-radius: 5px;
}

/* main */

/* Video and text Content */

.video-text{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "video text-right";
    margin-top: 25px;
    margin-bottom: 25px;
}

.video{
    grid-area: video;
}

.right{
    grid-area: text-right;
    padding: 20px 30px;
}

/* Just Giving & Just Giving Themed */

.just-giving{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 5px solid var(--greenTheme);
    border-radius: 10px;
    margin-bottom: 25px;
}

.just-giving-themed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 5px solid var(--greenTheme);
    background-color: var(--greenTheme);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;

}

.just-giving button{
    background-color: var(--greenTheme);
    padding: 30px;
    margin-left: 20px;
    border: 5px solid var(--greenTheme);
    border-radius: 10px;
}

.just-giving-themed button{
    background-color: white;
    padding: 30px;
    margin-left: 20px;
    border: 5px solid var(--greenTheme);
    border-radius: 10px;
}

.just-giving button:hover, .just-giving-themed button:hover {
    background-color: var(--greyTheme);
    padding: 30px;
    margin-left: 20px;
    border: 5px solid var(--greyTheme);
    border-radius: 10px;
}

.just-giving a{
    text-decoration: none;
    color: white;
}

.just-giving-themed a {
    text-decoration: none;
    color: var(--greenTheme);
}

/* Partners */

.P{
    border: 5px solid var(--greenTheme);
    border-radius: 10px;
}

.P h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.partners img{
    width: 150px;
    height: 150px;
    
}

/* Cards */
.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

.card img{
    width: 100px;
    height: 100px;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
